<%- include("../partials/header") %>
<nav class="ui pointing menu">
  <a href="/" class="item">
    Home
  </a>
  <a href="/patients" class="item">
    Patients
  </a>
  <a href="/patients/new" class="item">
    New
  </a>
  <div class="right menu">
    <% if(currentUser){ %>
      <a href="/logout" class="item">
        Logout
      </a>
      <a href="/patients" class="item"><%=currentUser.username%> </a>
      <% } else{%>
      <a href="/login" class="item">
        Login
      </a>
      <a href="/register" class="item">
        Sign Up
      </a>
      <% } %>
    </div>
</nav>
<%- include("../partials/mid") %>
<section class="ui grid container mt-1">
  <div class="row">
    <div class="column">
      <div class="ui padded segment">
        <h1 class="ui center aligned content header"><%=`Patient Record Of ${patient.firstName} ${patient.lastName}`%>
        </h1>
        <div class="ui divider my-1"></div>
        <div class="description">
          <table class="ui celled table">
            <thead>
              <tr>
                <th>Information</th>
                <th></th>
              </tr>
            </thead>
            <tr>
              <td>First Name</td>
              <td><%=patient.firstName%></td>
            </tr>
            <tr>
              <td>Last Name</td>
              <td><%=patient.lastName%></td>
            </tr>
            <tr>
            <tr>
              <td>Age</td>
              <td><%=patient.age%></td>
            </tr>
            <tr>
            <tr>
              <td>Gender</td>
              <td><%=patient.gender%></td>
            </tr>
            <tr>
              <td>Category</td>
              <td><%=patient.category%></td>
            </tr>
            <tr>
              <td>Sub Category</td>
              <td><%=patient.subCategory1%></td>
            </tr>
            <tr>
              <td>Sub Category 2</td>
              <td><%=patient.subCategory2%></td>
            </tr>
            <tr>
              <td>UHID</td>
              <td><%=patient.uhid%></td>
            </tr>
            </tbody>
          </table>
          <a href="<%=`/patients/${patient._id}/edit`%>" class="positive ui button">Edit</a>
          <form action="<%=`/patients/${patient._id}?_method=DELETE`%>" method="post" class="inline">
            <button class="negative ui button">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="ui grid container mt-1">
  <% for(let report of patient.reports) {%>
    <div class="row">
      <div class="column">
        <div class="ui padded placeholder segment">
          <h4>Report <%=patient.reports.indexOf(report)+1%> </h4>
          <h6><%=report.date && report.date.toLocaleDateString() %> </h6>
          <div><%=report.summary%> </div>
          <a href="<%=`/patients/${patient._id}/reports/${report._id}/edit`%> " class="positive ui button mx-0">
            Edit
          </a>
          <form action="<%=`/patients/${patient._id}/reports/${report._id}?_method=DELETE`%>" method="post" class="inline mx-0">
            <button class="negative ui button">Delete</button>
          </form>
        </div>
      </div>
    </div>
  <% } %>
  <a href="<%=`/patients/${patient._id}/reports/new`%>" class="positive ui button">New Report</a>
</section>
</div>
<%-include("../partials/footer") %>